﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedModels;

@{ Layout = "Master.cshtml"; }

<div class="slider-area">
    @Html.Action("RenderHighLightProduct", "Product", new { productIds = new List<int>{ 25, 20 } });
</div>

