﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterLayout.cshtml";    
}

<main class="main-content-wrap login-wrap">
    <div class="login-form-container">
        <div class="logo-container">
            <img alt="" src="assets/img/logo/logo-dark.png">
        </div>
        @RenderBody()
    </div>
</main>

