﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "MasterLayout.cshtml";
}

<!-- HEADER -->
@Html.Action("_Header", "Master")
<!--// HEADER -->
<!-- MAIN CONTENT -->
<main class="main-content-wrap">

    @RenderBody()

</main>
<!-- // MAIN CONTENT -->
<!-- FOOTER -->
@Html.Partial("PageElements/_Footer")
<script src="~/assets/js/shared.js"></script>
<script src="~/assets/js/cart.js"></script>
@RenderSection("ExtraJs", false)
<!--// FOOTER -->
