﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        @if (ViewData["PageTitle"] != null && !string.IsNullOrEmpty(ViewData["PageTitle"].ToString()))
        {
            @ViewData["PageTitle"]
        }
        else
        {
            @Html.Raw("Struct Product Portal");
        }
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="/assets/img/favicon.png">

    <!-- CSS
    ============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/assets/css/icons.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/scss/style.css">

    <link rel="stylesheet" href="~/assets/scss/login.min.css">
    <link rel="stylesheet" href="~/assets/scss/productPage.min.css">
</head>
<body>

    @RenderBody()
</body>
</html>
