﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.MyAccount>
@using ContentModels = Umbraco.Web.PublishedModels;

@{ Layout = "Master.cshtml"; }

<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="active">My Account </li>
            </ul>
        </div>
    </div>
</div>

<div class="container mt-100">
    <div class="row">
        <div class="ml-auto mr-auto col-lg-9">
            <div class="checkout-wrapper">
                <div id="account" class="panel-group">

                    @Html.Action("RenderAccountDetails", "Member")

                    @Html.Action("RenderUpdatePassword", "Member")
                </div>
            </div>
        </div>
    </div>
</div>