﻿
<footer class="footer-area bg-gray pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="copyright mb-30">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img alt="" src="~/assets/img/logo/logo-dark.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-30">

                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <div class="footer-widget mb-30 ml-50">
                    
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-75">
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer-widget mb-30 ml-70">
                   
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- All JS is here
============================================ -->

<script src="~/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/assets/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="~/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/plugins.js"></script>
<!-- Main JS -->
<script src="~/assets/js/main.js"></script>