﻿@model Struct.PIM.ProductViewer.Website.Models.HeaderModel
@{
    Layout = null;
}

<header class="header-area header-padding-1 sticky-bar header-res-padding clearfix">
    <div class="container" style="max-width:500px;">
        <div style="position:relative;">
            <div id="addToCartSuccess" class="alert alert-success fade" style="position:absolute; width:100%; top:100px; z-index:100;" role="alert">
                <strong>Product added to cart!</strong>
                <button type="button" class="close" aria-label="Close" onclick="$(this).parent().removeClass('show')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br /> Open your cart to see the all the products added to it.

            </div>

            <div id="addToCartError" class="alert alert-danger fade" style="position:absolute; width:100%; top:100px; z-index:100;" role="alert">
                <strong>An unknown error occurred!</strong>
                <button type="button" class="close" aria-label="Close" onclick="$(this).parent().removeClass('show')">
                    <span aria-hidden="true">&times;</span>
                </button>
                <br />Try adding other products. If the problem persists, contact your system administrator.

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-4">
                <div class="logo">
                    <a href="~/">
                        <img alt="" src="~/assets/img/logo/logo-dark.png">
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 d-none d-lg-block">
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="~/">Home</a>
                            </li>

                            @foreach (var item in Model.MenuItems)
                            {
                                <li>
                                    <a href="@item.Url">@item.Text <i class="fa fa-angle-down"></i></a>
                                    <ul class="submenu">
                                        @foreach (var subItem in item.Children)
                                        {
                                            <li><a href="@subItem.Url">@subItem.Text</a></li>

                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-8">
                <div class="header-right-wrap">
                    <div class="same-style header-search">
                        <a class="search-active" href="#"><i class="pe-7s-search"></i></a>
                        <div class="search-content">
                            <form action="/search" method="get">
                                <input type="text" id="query" name="query" placeholder="Search" />
                                <button class="button-search"><i class="pe-7s-search" onclick="$(this).closest('form').submit();"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="same-style account-satting">
                        <a class="account-satting-active" href="#"><i class="pe-7s-user-female"></i></a>
                        <div class="account-dropdown">
                            <ul>
                                <li><a href="/my-account">My account</a></li>
                                <li>
                                    @using (Html.BeginUmbracoForm("SubmitLogout", "Member", System.Web.Mvc.FormMethod.Post, new { id = "logout" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        var myUser = System.Web.Security.Membership.GetUser();
                                        if (myUser != null)
                                        {
                                            <a onclick="$(this).closest('form').submit();">Log out</a>
                                        }
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                        @Html.Action("_quickcart", "cart")
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li>
                                <a href="~/">HOME</a>
                            </li>
                            <li>
                                <a href="~/products">Shop</a>
                                <ul>
                                    @foreach (var item in Model.MenuItems)
                                    {
                                        <li>
                                            <a href="@item.Url">@item.Text</a>
                                            <ul>
                                                @foreach (var subItem in item.Children)
                                                {
                                                    <li><a href="@subItem.Url">@subItem.Text</a></li>

                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>