﻿@model Struct.PIM.ProductViewer.Website.Models.ResultModel

<div class="pro-pagination-style text-center mt-30" productviewer-paging>
    <ul>
        @if (Model.Page > 1)
        {
            <li>
                <a class="prev" tabindex="-1" onclick="pimproductviewer.productList.goToPage(@(Model.Page - 1))" data-toggle="tooltip"><i class="fa fa-angle-double-left"></i></a>
            </li>
        }
        <li>
            <a class="@(Model.Page == 1 ? "active" : "")" onclick="pimproductviewer.productList.goToPage(1)">1</a>
        </li>
        @if (Model.Page > 4 && Model.TotalPages != 6)
        {
            <li class="page-item disabled"><a>...</a></li>
        }
        @foreach (var page in Model.PageNumbers)
        {
            <li>
                <a class="@(Model.Page == page ? "active" : "")" onclick="pimproductviewer.productList.goToPage(@page)">@page</a>
            </li>
        }
        @if ((Model.TotalPages - Model.Page) > 3 && Model.TotalPages != 6)
        {
            <li><a>...</a></li>
        }
        @if (Model.TotalPages > 1)
        {
            <li>
                <a class="@(Model.Page == Model.TotalPages ? "active" : "")" onclick="pimproductviewer.productList.goToPage(@Model.TotalPages)">@Model.TotalPages</a>
            </li>
        }
        @if (Model.Page != Model.TotalPages)
        {
            <li>
                <a class="next" onclick="pimproductviewer.productList.goToPage(@(Model.Page + 1))" data-toggle="tooltip"><i class="fa fa-angle-double-right"></i></a>
            </li>
        }
    </ul>
</div>