﻿@model  List<Struct.PIM.ProductViewer.Entity.Product>
@using Struct.PIM.ProductViewer.Website.Helpers
@using Umbraco.Web.Models
<div class="slider-active owl-carousel nav-style-1 owl-dot-none">
    @foreach (var item in Model)
    {
        <div class="single-slider slider-height-1 bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6" style="z-index: 9999;">
                        <div class="slider-content slider-animated-1">
                            <h3 class="animated">@item.Name</h3>
                            <p class="animated">@Html.Raw(item.ShortDescription)</p>
                            <div class="slider-btn btn-hover">
                                <a class="animated" href="@item.Url">See product</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-12 col-sm-6" style="z-index: 8888;">
                        <div class="slider-single-img slider-animated-1">
                            <img class="animated" src="@MediaHelper.GetCropUrl(item.PrimaryImage, 730, 746, ImageCropMode.Crop)" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>