﻿@model  List<Struct.PIM.ProductViewer.Entity.Product>
@using Struct.PIM.ProductViewer.Website.Helpers
@using Umbraco.Web.Models
@{

}
@foreach (var item in Model)
{
    var firstExtraImage = item.ExtraImages.Any() ? item.ExtraImages.FirstOrDefault() : "";
    <div class="product-wrap">
        <div class="product-img">
            <a href="@item.Url">
                <img class="default-img" src="@MediaHelper.GetCropUrl(item.PrimaryImage, 270, 345, ImageCropMode.Pad)" alt="">
                @if (!string.IsNullOrEmpty(firstExtraImage))
                {
                    <img class="hover-img" src="@MediaHelper.GetCropUrl(firstExtraImage, 270, 345, ImageCropMode.Pad)" alt="">
                }
            </a>
            @if (!string.IsNullOrEmpty(item.SplashText))
            {
                <span class="pink">@item.SplashText</span>
            }            
        </div>
        <div class="product-content text-center">
            <h3><a href="@item.Url">@item.Name</a></h3>            
        </div>
    </div>
}