﻿@model  Struct.PIM.ProductViewer.Website.Models.ResultModel
<div class="sidebar-style mr-30" productviewer-filters>
    @foreach (var filter in Model?.Filters ?? new List<Struct.PIM.ProductViewer.Entity.Filter>())
    {
        if (filter.DisplayType == "Checkbox")
        {
            <div class="sidebar-widget mt-30">
                <h4 class="pro-sidebar-title">@filter.DisplayName</h4>
                <div class="sidebar-widget-list mt-10">
                    <ul>
                        @foreach (var item in filter.Items)
                        {
                            <li>
                                <div class="sidebar-widget-list-left">
                                    <input type="checkbox" @(item.Selected ? "checked=checked" : "") onclick="pimproductviewer.productList.selectFilter('@filter.Key','@HttpUtility.UrlEncode(item.Key)')"> <a>@item.Value <span>@item.Hits</span> </a>
                                    <span class="checkmark"></span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        else if (filter.DisplayType == "Tag")
        {
            <div class="sidebar-widget mt-50">
                <h4 class="pro-sidebar-title">@filter.DisplayName</h4>
                <div class="sidebar-widget-tag mt-25">
                    <ul>
                        @foreach (var item in filter.Items)
                        {
                            <li><a @(item.Selected ? "class=-selected" : "") onclick="pimproductviewer.productList.selectFilter('@filter.Key','@item.Key.Replace(" ","+")')" href="#">@item.Value</a></li>
                        }
                    </ul>
                </div>
            </div>
        }
    }
</div>