﻿@model  Struct.PIM.ProductViewer.Entity.Product
@using Struct.PIM.ProductViewer.Website.Helpers
@using Umbraco.Web.Models
@{
    var firstExtraImage = (Model.ExtraImages?.Any() ?? false) ? Model.ExtraImages.FirstOrDefault() : "";
}

<div class="shop-list-wrap mb-30 scroll-zoom">
    <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-6">
            <div class="product-wrap">
                <div class="product-img">
                    <a href="@Model.Url">
                        <img class="default-img" src="@MediaHelper.GetCropUrl(Model.PrimaryImage, 270, 345, ImageCropMode.Pad)" alt="">
                        @if (!string.IsNullOrEmpty(firstExtraImage))
                        {
                            <img class="hover-img" src="@MediaHelper.GetCropUrl(firstExtraImage, 270, 345, ImageCropMode.Pad)" alt="">
                        }
                    </a>
                    @if (!string.IsNullOrEmpty(Model.SplashText) && Model.SplashText == "New")
                    {
                        <span class="purple">@Model.SplashText</span>
                    }
                    else if (!string.IsNullOrEmpty(Model.SplashText) && Model.SplashText == "On sale")
                    {
                        <span class="pink">@Model.SplashText</span>
                    }
                    else if (!string.IsNullOrEmpty(Model.SplashText) && Model.SplashText == "Testwinner")
                    {
                        <span class="green">@Model.SplashText</span>
                    }
                    else if (!string.IsNullOrEmpty(Model.SplashText))
                    {
                        <span class="purple">@Model.SplashText</span>
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7 col-md-7 col-sm-6">
            <div class="shop-list-content">
                <h3><a href="@Model.Url">@Model.Name</a></h3>
                <p>@Html.Raw(Model.ShortDescription)</p>
                @if (Model.SpecificationGroups != null)
                {
                    var allSpecs = Model.SpecificationGroups.SelectMany(x => x.Specifications).ToList();
                    for (var i = 0; i < allSpecs.Count(); i++)
                    {
                        if (i > 8)
                        {
                            break;
                        }
                        var displayDelimiter = i < 6 && i < (allSpecs.Count() - 1);
                        var spec = allSpecs[i];

                        @(spec.Key + ": " + spec.Value) @(displayDelimiter ? " | " : "")

                    }
                }
                <div class="shop-list-btn btn-hover mt-20">
                    <a onclick="pimproductviewer.cart.addToCart(@Model.Id)">ADD TO CART</a>
                </div>

            </div>
        </div>
    </div>
</div>