﻿@model  Struct.PIM.ProductViewer.Website.Models.ResultModel
<div class="row flex-row-reverse" productviewer-list>
    <div class="col-lg-9 shop-container">
        <div class="shop-top-bar">
            <div class="select-shoing-wrap">
                <p>Sort by&nbsp;</p>
                <div class="shop-select">
                    <select onchange="pimproductviewer.productList.selectSorting(this.value)">
                        <option value="popularity" @(Model.Sorting == null || Model.Sorting == "popularity" ? "selected" : "")>popularity</option>
                        <option value="created" @(Model.Sorting == "created" ? "selected" : "")>Newest</option>
                        <option value="name_asc" @(Model.Sorting == "name_asc" ? "selected" : "")>A to Z</option>
                        <option value="name_desc" @(Model.Sorting == "name_desc" ? "selected" : "")>Z to A</option>
                    </select>
                </div>
                <span class="mr-50">@Model.TotalItems products</span>
            </div>
            <div class="shop-tab nav">
                <a @(Model.View == "grid" ? "class=active" : "") onclick="pimproductviewer.productList.setDisplayMode('grid')">
                    <i class="fa fa-table"></i>
                </a>
                <a @(Model.View != "grid" ? "class=active" : "") onclick="pimproductviewer.productList.setDisplayMode(null)">
                    <i class="fa fa-list-ul"></i>
                </a>
            </div>
        </div>
        <div class="shop-bottom-area mt-35">
            <div class="tab-content jump">
                <div id="shop-grid-view" class="tab-pane@(Model.View == "grid" ? "active" : "")">
                    <div class="row">
                        @foreach (var item in Model.Items)
                        {
                            @Html.Partial("_ListItemGrid", (object)item)
                        }

                    </div>
                </div>
                <div id="shop-list-view" class="tab-pane @(Model.View != "grid" ? "active" : "")">
                    @foreach (var item in Model.Items)
                    {
                        @Html.Partial("_ListItemList", (object)item)
                    }
                </div>
            </div>
            @if (Model.TotalPages > 1)
            {
                @Html.Partial("PageElements/_Pagination", Model)
            }
        </div>
    </div>

    <div class="col-lg-3">
        @Html.Partial("_ListFilters", Model)
    </div>
</div>
