﻿@model  Struct.PIM.ProductViewer.Entity.Product
@using Struct.PIM.ProductViewer.Website.Helpers
@using Umbraco.Web.Models
@{
    var firstExtraImage = (Model.ExtraImages?.Any() ?? false) ? Model.ExtraImages.FirstOrDefault() : "";
}

<div class="col-xl-4 col-md-6 col-lg-6 col-sm-6">
    <div class="product-wrap mb-25 scroll-zoom">
        <div class="product-img">
            <a href="@Model.Url">
                <img class="default-img" src="@MediaHelper.GetCropUrl(Model.PrimaryImage, 270, 345, ImageCropMode.Pad)" alt="">
                @if (!string.IsNullOrEmpty(firstExtraImage))
                {
                    <img class="hover-img" src="@MediaHelper.GetCropUrl(firstExtraImage, 270, 345, ImageCropMode.Pad)" alt="">
                }
            </a>
            @if (!string.IsNullOrEmpty(Model.SplashText) && Model.SplashText == "New")
            {
                <span class="purple">@Model.SplashText</span>
            }
            else if (!string.IsNullOrEmpty(Model.SplashText) && Model.SplashText == "On sale")
            {
                <span class="pink">@Model.SplashText</span>
            }
            else if (!string.IsNullOrEmpty(Model.SplashText) && Model.SplashText == "Testwinner")
            {
                <span class="green">@Model.SplashText</span>
            }
            else if (!string.IsNullOrEmpty(Model.SplashText))
            {
                <span class="purple">@Model.SplashText</span>
            }
            <div class="product-action">
                <div class="pro-same-action pro-cart">
                    <a title="Add To Cart" onclick="pimproductviewer.cart.addToCart(@Model.Id)"> Add to cart</a>
                </div>
            </div>
        </div>
        <div class="product-content text-center">
            <h3><a href="product-details.html">@Model.Name</a></h3>
            <div class="product-rating">

            </div>
            <div class="product-price">

            </div>
        </div>
    </div>
</div>