﻿@model  Struct.PIM.ProductViewer.Website.Models.ProductListModel

@{ Layout = "~/Views/Master.cshtml"; }

@section ExtraJs{
    <script src="~/assets/js/productList.js"></script>
    <script>
        $(function () { pimproductviewer.productList.init(); });
    </script>
}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>

                @if (Model.IsSearch)
                {
                    <li> <a>Results</a></li>
                    <li class="active">@Model.Query </li>
                }
                else if (Model.CurrentCategory != null)
                {
                    <li>
                        <a href="~/products">Shop</a>
                    </li>
                    foreach (var group in Model.Breadcrumb)
                    {
                        <li>
                            <a href="~/@group.Url">@group.Name</a>
                        </li>
                    }
                    <li class="active">@Model.CurrentCategory.Name </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-95 pb-100">
    <div class="container" style="position:relative;">
        @Html.Partial("_List", Model.ListResult)
    </div>
</div>