﻿@model Struct.PIM.ProductViewer.Website.Models.ProductModel
@using Struct.PIM.ProductViewer.Website.Helpers
@using Umbraco.Web.Models
@{
    Layout = "~/Views/Master.cshtml";
    var images = new List<string>();
    var name = string.Empty;
    if (Model.Product.Variants.Any())
    {
        images.Add(Model?.Variant?.PrimaryImage);
        foreach (var img in Model?.Variant?.ExtraImages)
        {
            images.Add(img);
        }
        name = Model.Variant.Name;
    }
    if (!Model.Product.Variants.Any() || images.Count == 0)
    {
        images.Add(Model.Product.PrimaryImage);
        foreach (var img in Model.Product.ExtraImages)
        {
            images.Add(img);
        }
        name = Model.Product.Name;
    }

    var selectedVariant = Model.Variant ?? Model.Product.Variants.FirstOrDefault();
    var otherVariants = Model.Product.Variants.Where(x => x.Id != selectedVariant.Id).ToList();

    var i = 0;
}
<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                @foreach (var category in Model.Product.Categories)
                {
                    <li>
                        <a href="~/@category.Url">@category.Name</a>
                    </li>
                }
                <li class="active">@name </li>
            </ul>
        </div>
    </div>
</div>
<div class="shop-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="product-details-img mr-20 product-details-tab">
                    <div id="gallery" class="product-dec-slider-2">
                        @foreach (var img in images)
                        {
                            <a data-image="@MediaHelper.GetCropUrl(img, 720, 570, ImageCropMode.Pad)" data-zoom-image="@MediaHelper.GetCropUrl(img, 1125, 1200, ImageCropMode.Pad)">
                                <img src="@MediaHelper.GetCropUrl(img, 180, 200, ImageCropMode.Pad)" alt="">
                            </a>
                        }
                    </div>
                    <div class="zoompro-wrap zoompro-2 pl-20">
                        <div class="zoompro-border zoompro-span">
                            <img class="zoompro" src="@MediaHelper.GetCropUrl(images.FirstOrDefault(), 720, 570, ImageCropMode.Pad)" data-zoom-image="@MediaHelper.GetCropUrl(images.FirstOrDefault(), 1125, 1200, ImageCropMode.Pad)" alt="" />
                            @if (!string.IsNullOrEmpty(Model.Product.SplashText) && Model.Product.SplashText == "New")
                            {
                                <span class="purple">@Model.Product.SplashText</span>
                            }
                            else if (!string.IsNullOrEmpty(Model.Product.SplashText) && Model.Product.SplashText == "On sale")
                            {
                                <span class="pink">@Model.Product.SplashText</span>
                            }
                            else if (!string.IsNullOrEmpty(Model.Product.SplashText) && Model.Product.SplashText == "Testwinner")
                            {
                                <span class="green">@Model.Product.SplashText</span>
                            }
                            else if (!string.IsNullOrEmpty(Model.Product.SplashText))
                            {
                                <span class="purple">@Model.Product.SplashText</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-lg-5 col-md-12">
                <div class="product-details-content">
                    <h2>@name</h2>

                    @Html.Raw(Model.Product.ShortDescription)


                    <div class="pro-details-list">
                        @if (Model.Product.FeaturedSpecs.Any())
                        {
                            <ul>
                                @foreach (var featuredSpec in Model.Product.FeaturedSpecs)
                                {
                                    <li>- @featuredSpec.Key: @featuredSpec.Value</li>
                                }
                            </ul>
                        }
                    </div>

                    @if (selectedVariant != null && otherVariants.Any())
                    {

                        <div class="dropdown dropdown-portal">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                <div class="media">
                                    <div class="media-left">
                                        <img src="@MediaHelper.GetCropUrl(int.Parse(selectedVariant.PrimaryImage) > 0 ? selectedVariant.PrimaryImage : Model.Product.PrimaryImage, 57, 57, Umbraco.Web.Models.ImageCropMode.Pad, "&format=png&bgcolor=ffffff")" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <div class="row">

                                            @if (selectedVariant.DefiningValues != null && selectedVariant.DefiningValues.Any())
                                            {
                                                foreach (var val in selectedVariant.DefiningValues)
                                                {
                                                    <div class="col-sm-12">
                                                        <p><strong>@val.Name</strong>: @val.Value</p>

                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>
                            </button>
                            @if (otherVariants != null && otherVariants.Any())
                            {
                                <ul class="dropdown-menu">
                                    @foreach (var v in otherVariants)
                                    {
                                        <li>
                                            <a href="@v.Url">

                                                <div class="media">
                                                    <div class="media-left">
                                                        <img src="@MediaHelper.GetCropUrl(int.Parse(v.PrimaryImage) > 0 ? v.PrimaryImage : Model.Product.PrimaryImage, 57, 57, Umbraco.Web.Models.ImageCropMode.Pad, "&format=png&bgcolor=ffffff")" />
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="row">

                                                            @if (v.DefiningValues != null && v.DefiningValues.Any())
                                                            {
                                                                foreach (var val in v.DefiningValues)
                                                                {

                                                                    <div class="col-sm-12">

                                                                        <p><strong>@val.Name</strong>: @val.Value</p>
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                    <div class="pro-details-quality">
                        <div class="pro-details-cart btn-hover">
                            <a onclick="pimproductviewer.cart.addToCart(@Model.Product.Id)">Add To Cart</a>
                        </div>
                    </div>
                    <div class="pro-details-meta">
                        <span>Categories :</span>
                        <ul>
                            @foreach (var category in Model.Product.Categories)
                            {
                                i++;
                                <li><a href="~/@category.Url">@category.Name @(i < Model.Product.Categories.Count ? " | " : "")</a></li>
                            }
                        </ul>
                    </div>
                    <div class="pro-details-social">
                        <ul>
                            <li><a href="https://www.facebook.com/structdk"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/struct/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="description-review-area pb-90">
    <div class="container">
        <div class="description-review-wrapper">
            <div class="description-review-topbar nav">
                <a class="active" data-toggle="tab" href="#des-details1">Specifications</a>
                @if (!string.IsNullOrEmpty(Model.Product.LongDescription) || !string.IsNullOrEmpty(Model.Product.ShortDescription))
                {
                    <a data-toggle="tab" href="#des-details2">Description</a>
                }
                @if (Model.Product.Ingredients?.Any() ?? false)
                {
                    <a data-toggle="tab" href="#des-ingredients">Ingredients</a>
                }
                @if (Model.Product.Videos?.Any() ?? false)
                {
                    <a data-toggle="tab" href="#des-details3">Videos</a>
                }
                @if (Model.Product.Documents?.Any() ?? false)
                {
                    <a data-toggle="tab" href="#des-details4">Documents</a>
                }
            </div>
            <div class="tab-content description-review-bottom">
                <div id="des-details2" class="tab-pane">
                    <div class="product-description-wrapper col-lg-8 offset-lg-2 col-md-12">
                        <p class="pb-20"><i>@Html.Raw(Model.Product.ShortDescription)</i></p>
                        @Html.Raw(Model.Product.LongDescription)
                    </div>
                </div>
                @if (Model.Product.Ingredients?.Any() ?? false)
                {
                    <div id="des-ingredients" class="tab-pane">
                        <div class="product-description-wrapper col-lg-6 offset-lg-3 col-md-12">
                            <table class="table table-striped table-borderless">
                                @foreach (var ingredient in Model.Product.Ingredients)
                                {
                                    <tr>
                                        <td>
                                            @Html.Raw(ingredient)
                                        </td>
                                    </tr>
                                }
                            </table>
                            *Organic<br />
                            <b>Allergene</b>

                        </div>
                    </div>
                }
                <div id="des-details1" class="tab-pane active">
                    <div class="product-anotherinfo-wrapper">

                        @if (Model.Product.SpecificationGroups != null)
                        {
                            <div class="row">
                                @foreach (var specGroup in Model.Product.SpecificationGroups)
                                {

                                    <div class="col-lg-10 offset-lg-1 col-md-12 pt-20">
                                        <h3>@(string.IsNullOrEmpty(specGroup.Name) ? "Other specifications" : specGroup.Name )</h3>
                                        <table class="specifications table table-striped table-borderless" style="width:100%;">
                                            @foreach (var spec in specGroup.Specifications)
                                            {
                                                if (spec.Value != null)
                                                {
                                                    <tr>
                                                        <td width="50%">@(spec.Key + ": ")</td>
                                                        <td class="text-wrapper">
                                                            @if (spec.Value.ToString().Equals("true", StringComparison.InvariantCultureIgnoreCase))
                                                            {

                                                                <span class="pim-toggle__toggle">
                                                                    <i class="pim-toggle__icon-ckeck fa fa-check"></i>
                                                                    <span class="pim-toggle__handler">
                                                                    </span>
                                                                </span><br />
                                                            }
                                                            else
                                                            {
                                                                <span>@(spec.Value)</span><br />
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
                @if (Model.Product?.Videos.Any() ?? false)
                {
                    var vidId = 1;
                    <div id="des-details3" class="tab-pane">
                        <div class="product-description-wrapper">
                            @foreach (var video in Model.Product.Videos)
                            {
                                vidId++;
                                var url = string.Empty;
                                if (video.Provider == Struct.PIM.ProductViewer.Entity.VideoProvider.youtube)
                                {
                                    url = "https://www.youtube.com/embed/" + video.VideoId;
                                }

                                <iframe width="560" height="315" src="@url" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            }
                        </div>
                    </div>
                }
                @if (Model.Product.Documents?.Any() ?? false)
                {
                    <div id="des-details4" class="tab-pane">
                        <div class="product-description-wrapper">
                            @foreach (var doc in Model.Product.Documents)
                            {
                                if (!string.IsNullOrEmpty(doc.File))
                                {
                                    var docName = doc?.DocumentType;
                                    <div class="col-md-2 col-sm-6 col-xs-6 item">

                                        <a href="@MediaHelper.GetCropUrl(doc.File, 275, 375, Umbraco.Web.Models.ImageCropMode.Pad, "&format=pdf")" target="_blank">

                                            <img src="~/assets/img/pdf.png" />


                                            @if (!string.IsNullOrEmpty(docName))
                                            {
                                                <span class="heading">
                                                    @docName
                                                </span>
                                            }

                                        </a>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (Model.Product.RelatedProducts?.Any() ?? false)
{
    <div class="related-product-area pb-95">
        <div class="container">
            <div class="section-title text-center mb-50">
                <h2>Related products</h2>
            </div>
            <div class="related-product-active owl-carousel owl-dot-none">
                @Html.Partial("_ItemList", Model.Product.RelatedProducts)
            </div>
        </div>
    </div>
}

@if (Model.Product.Accessories?.Any() ?? false)
{
    <div class="related-product-area pb-95">
        <div class="container">
            <div class="section-title text-center mb-50">
                <h2>Accessories</h2>
            </div>
            <div class="related-product-active owl-carousel owl-dot-none">
                @Html.Partial("_ItemList", Model.Product.Accessories)
            </div>
        </div>
    </div>
}
