﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Struct.PIM.ProductViewer.Website.Models.MyAccountModel>
@using Umbraco.Web
@using (Html.BeginUmbracoForm("SubmitAccountDetails", "Member", System.Web.Mvc.FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.AntiForgeryToken()
    <div class="panel panel-default single-my-account">
        <div class="panel-heading my-account-title">
            <h3 class="panel-title"><span>1.</span> <a data-toggle="collapse" data-parent="#account" href="#my-account" aria-expanded="true">account information </a></h3>
        </div>
        <div id="my-account" class="panel-collapse collapse show">
            <div class="panel-body">
                <div class="myaccount-info-wrapper">
                    <div class="account-info-wrapper">
                        <h5>Your Personal Details</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="billing-info">
                                <label>Full name</label>
                                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="billing-info">
                                <label>Email Address</label>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                            </div>
                        </div>
                    </div>
                    <div class="billing-back-btn">
                        @if (ViewData.ModelState.ContainsKey("Email"))
                        {
                            <span style="color:darkred;">
                                @Html.ValidationSummary()
                            </span>
                        }
                        else if (ViewData.ModelState.ContainsKey("AccountSaved"))
                        {
                            <span style="color:darkgreen;">
                                Account details were saved
                            </span>
                        }
                        else
                        {
                            <span></span>
                        }
                        <div class="billing-btn">
                            <button type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}