﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Struct.PIM.ProductViewer.Website.Models.LoginModel>
@using Umbraco.Web


@using (Html.BeginUmbracoForm("SubmitLogin", "Member", System.Web.Mvc.FormMethod.Post, new { id = "login" }))
{
    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })

    @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })

    <span style="color:darkred;">
        @Html.ValidationSummary()
    </span>
    <button name="login" type="submit">Login</button>
}

<div><a href="~/reset-password">Forgot password</a></div>