﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Struct.PIM.ProductViewer.Website.Models.ResetPasswordModel>
@using Umbraco.Web

@if (!Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("ResetPassword", "Member", System.Web.Mvc.FormMethod.Post, new { id = "reset" }))
    {
        <a href="~/">back</a>
        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })

        @Html.ValidationSummary()
        <button name="login" type="submit">Reset password</button>
    }
}