﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Struct.PIM.ProductViewer.Website.Models.UpdatePasswordModel>
@using Umbraco.Web

@using (Html.BeginUmbracoForm("UpdatePassword", "Member", System.Web.Mvc.FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserId)
    @Html.AntiForgeryToken()
    <div class="panel panel-default single-my-account">
        <div class="panel-heading my-account-title">
            <h3 class="panel-title"><span>2.</span> <a data-toggle="collapse" data-parent="#account" href="#password" aria-expanded="true">Password management </a></h3>
        </div>
        <div id="password" class="panel-collapse collapse show">
            <div class="panel-body">
                <div class="myaccount-info-wrapper">
                    <div class="account-info-wrapper">
                        <h5>Change password</h5>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="billing-info">
                                <label>Password</label>
                                @Html.PasswordFor(m => m.Password)
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="billing-info">
                                <label>Confirm password</label>
                                @Html.PasswordFor(m => m.PasswordRepeat)
                            </div>
                        </div>
                    </div>
                    <div class="billing-back-btn">
                        @if (ViewData.ModelState.ContainsKey("Password"))
                        {
                            <span style="color:darkred;">
                                @Html.ValidationSummary()
                            </span>
                        }
                        else if (ViewData.ModelState.ContainsKey("PasswordUpdated"))
                        {
                            <span style="color:darkgreen;">
                                Password was changed
                            </span>
                        }
                        else
                        {
                            <span></span>
                        }
                        <div class="billing-btn">
                            <button type="submit">Change password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}