/*----- 2. Header style ----*/

.header-area {
    position: relative;
}

.sticky-bar.stick {
	animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
	background-color: #fff;
	border-bottom: 0 solid #4a90e2;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	left: 0;
	transition: all .3s ease 0s;
}
.header-padding-1 .container-fluid {
    padding: 0 80px;
    @media #{$xl-layout}{
		padding: 0 15px;
	}
    @media #{$lg-layout}{
		padding: 0 30px;
	}
    @media #{$md-layout}{
		padding: 0 40px;
	}
    @media #{$xs-layout}{
		padding: 0 15px;
	}
}
.header-res-padding {
    @media #{$md-layout}{
        padding: 20px 0 15px;
    }
    @media #{$xs-layout}{
        padding: 20px 0 15px
    }
}
@media #{$md-layout}{
    .header-ptb-hm5 {
        padding: 40px 0 15px;
    }
    .stick {
        &.header-ptb-hm5 {
            padding: 20px 0 15px;
        }
    }
}
.logo {
	margin-top: 32px;
    @media #{$md-layout}{
        margin-top: 0px;
    }
    @media #{$xs-layout}{
        margin-top: 0px;
    }
    &.logo-hm5 {
        margin-top: 41px;
        a.sticky-block {
            display: none;
        }
        @media #{$md-layout}{
            margin-top: 0px;
            text-align: left !important;
        }
        @media #{$xs-layout}{
            margin-top: 0px;
            text-align: left !important;
        }
    }
}

.stick {
   .logo-hm5 {
        a.sticky-block {
            display: block;
        }
        a.sticky-none {
            display: none;
        }
    } 
}

.main-menu {
    nav {
        ul {
            display: block;
            text-align: center;
            margin-top: -5px;
                li{
                    display: inline-block;
                    padding: 0 15px;
                    position: relative;
                    ul.submenu {
                        background: #fff none repeat scroll 0 0;
                        box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
                        display: block;
                        left: 0;
                        padding: 20px 0px 22px;
                        position: absolute;
                        top: 100%;
                        transform: rotateX(90deg);
                        transform-origin: center top 0;
                        transition: all 0.5s ease 0s;
                        visibility: hidden;
                        width: 190px;
                        z-index: 999;
                        li {
                            display: block;
                            padding: 0 20px;
                            margin-left: 0px;
                            a {
                                color: #333;
                                display: block;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 32px;
                                text-align: left;
                                text-transform: capitalize;
                                padding-top: 0px;
                                &:hover {
                                    color: $theme-color;
                                }
                                &::before {
                                    background: $theme-color none repeat scroll 0 0;
                                    border-radius: 50%;
                                    content: "";
                                    height: 7px;
                                    left: 15px;
                                    opacity: 0;
                                    position: absolute;
                                    top: 13px;
                                    transition: all 0.3s ease-in-out 0s;
                                    width: 7px;
                                    z-index: 999;
                                }
                            }
                            &:hover a::before {
                                opacity: 1;
                            }
                            &:hover a {
                                padding-left: 12px;
                            }
                        }
                    }
                    ul.mega-menu {
                        background-color: #fff;
                        display: block;
                        left: 0;
                        padding: 40px 40px 0px 40px;
                        position: absolute;
                        text-align: left;
                        top: 100%;
                        transform: rotateX(90deg);
                        transform-origin: center top 0;
                        transition: all 0.5s ease 0s;
                        visibility: hidden;
                        width: 770px;
                        z-index: 999;
                        box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
                        @media #{$lg-layout} {
                            left: -75px;
                            width: 750px;
                            padding: 40px 30px 0px 30px;
                        }
                        > li {
                            display: inline-block;
                            float: left;
                            margin-left: 0;
                            padding: 0;
                            width: 33.33%;
                            ul {
                                li.mega-menu-title {
                                    float: inherit;
                                    width: 100%;
                                    a {
                                        color: #242424;
                                        margin: 0 0 10px;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        font-weight: 500;
                                        &::before {
                                            display: none
                                        }
                                    }
                                    &:hover a {
                                        padding-left: 0px;
                                    }
                                }
                                li {
                                    display: block;
                                    float: inherit;
                                    padding: 0px;
                                    a {
                                        color: #333;
                                        display: block;
                                        font-size: 13px;
                                        font-weight: 400;
                                        line-height: 32px;
                                        text-align: left;
                                        text-transform: capitalize;
                                        padding-top: 0px;
                                        position: relative;
                                        &:hover {
                                            color: $theme-color;
                                        }
                                        &::before {
                                            background: $theme-color none repeat scroll 0 0;
                                            border-radius: 50%;
                                            content: "";
                                            height: 7px;
                                            left: 0px;
                                            opacity: 0;
                                            position: absolute;
                                            top: 13px;
                                            transition: all 0.3s ease-in-out 0s;
                                            width: 7px;
                                            z-index: 999;
                                        }
                                    }
                                    &.mega-menu-img {
                                        &:hover a {
                                            padding-left: 0px;
                                        }
                                        a{
                                           &::before {
                                                display: none;
                                            } 
                                        }
                                    }
                                    &:hover a::before {
                                        opacity: 1;
                                    }
                                    &:hover a {
                                        padding-left: 12px;
                                    }
                                }
                            }
                        }
                        &.mega-menu-padding {
                            padding: 40px 40px 36px 40px;
                            @media #{$lg-layout}{
                                left: 0px;
                                padding: 40px 30px 36px 30px;
                            }
                        }
                    }
                &:hover > ul.submenu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                &:hover > ul.mega-menu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                @media #{$lg-layout}{
                    padding: 0 7px;
                }
                @media #{$xl-layout}{
                    padding: 0 10px;
                }
                > a{
                    font-size: 15px;
                    color: #555252;
                    font-weight: 500;
                    letter-spacing: .8px;
                    display: inline-block;
                    line-height: 94px;
                    i {
                        font-size: 15px;
                        margin-left: 1px;
                        position: relative;
                        top: 0px;
                    }
                }
                &:hover a {
                    color: $theme-color;
                }
            }
        }
    }
    &.menu-white {
        nav{
            ul {
                text-align: left;
                li{
                    padding: 0 30px 0 0;
                    @media #{$xx-layout}{
                        padding: 0 22px 0 0;
                    }
                    @media #{$xl-layout}{
                        padding: 0 14px 0 0;
                    }
                    @media #{$lg-layout}{
                        padding: 0 14px 0 0;
                    }
                    > a{
                        color: #ffffff;
                        line-height: 112px;
                    }
                }
            }
        }
    }
}
.stick .main-menu.menu-white nav ul li a{
    color: #555252;
    &:hover {
        color: $theme-color;
    }
}

.stick .main-menu nav ul li a {
	line-height: 75px;
}

.stick .logo ,
.stick .header-right-wrap {
	margin-top: 22px;
    @media #{$md-layout}{
        margin-top: 0px;
    }
    @media #{$xs-layout}{
        margin-top: 0px;
    }
    @media #{$md-layout}{
        margin-top: 0px;
    }
}
.stick .header-right-wrap .same-style.cart-wrap .shopping-cart-content ,
.stick .header-right-wrap .same-style .account-dropdown {
	top: 160%;
    @media #{$xs-layout}{
		top: 100%;
        margin-top: 14px;
	}
    @media #{$md-layout}{
		top: 100%;
        margin-top: 14px;
	}
}





.header-right-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;

    @media #{$md-layout} {
        margin-top: 0px;
        margin-right: 50px;
    }

    @media #{$xs-layout} {
        margin-top: 2px;
        margin-right: 50px;
    }

    .same-style {
        margin-left: 14px;
        position: relative;

        @media #{$lg-layout} {
            margin-left: 10px;
        }

        @media #{$xs-layout} {
            margin-left: 5px;
        }

        > a {
            color: #000;
            font-size: 23px;
        }

        &:first-child {
            margin-left: 0px;
        }

        &:hover > a {
            color: $theme-color;
        }

        .account-dropdown {
            background: #fff none repeat scroll 0 0;
            box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
            left: 0;
            padding: 8px 12px 10px;
            position: absolute;
            text-align: left;
            top: 190%;
            width: 125px;
            z-index: 220;
            display: none;

            @media #{$xs-layout} {
                top: 100%;
                margin-top: 14px;
            }

            @media #{$md-layout} {
                top: 100%;
                margin-top: 14px;
            }

            @media #{$lg-layout} {
                left: -40px;
            }

            @media #{$xl-layout} {
                left: -34px;
            }

            ul {
                li {
                    a {
                        display: block;
                        font-size: 13px;
                        line-height: 30px;
                        padding: 0;
                        text-transform: capitalize;
                        color: #000;

                        &:hover {
                            padding-left: 5px;
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }

    .same-style.account-satting {
        > a {
            font-size: 24px;
        }
    }

    .same-style.cart-wrap {
        margin-left: 12px;

        @media #{$lg-layout} {
            margin-left: 8px;
        }

        @media #{$xs-layout} {
            margin-left: 3px;
        }

        button {
            background: transparent;
            border: none;
            padding: 0;
            color: #000;
            font-size: 24px;
            position: relative;

            span.count-style {
                position: absolute;
                top: -9px;
                right: -14px;
                background-color: #000;
                color: #fff;
                display: inline-block;
                width: 21px;
                height: 21px;
                border-radius: 100%;
                line-height: 21px;
                font-size: 12px;

                @media #{$xl-layout} {
                    right: -5px;
                }
            }
        }

        &:hover > button {
            color: $theme-color;
        }

        .shopping-cart-content-products {
            padding: 31px 35px 10px;
            max-height: 300px;
            overflow-y: auto;
        }

        .shopping-cart-content {
            /* Scrollbar */
            /* width */
            ::-webkit-scrollbar {
                width: 5px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
                background: rgba(#A2A1A6,0.5);
            }
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: rgba(#515054,0.5);
            }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: rgba(#1E1C1C,0.5);
            }

            padding: 0px!important;
            background: #fff none repeat scroll 0 0;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            padding: 31px 35px 10px;
            position: absolute;
            right: 0;
            top: 190%;
            width: 340px;
            z-index: 9999;
            transform: rotateX(90deg);
            transform-origin: center top 0;
            transition: all 0.5s ease 0s;

            &.cart-visible {
                opacity: 1;
                visibility: visible;
                transform: rotateX(0deg);
            }

            @media #{$xs-layout} {
                width: 295px;
                right: -52px;
                padding: 31px 15px 10px;
                overflow-y: auto;
                height: 300px;
                top: 100%;
                margin-top: 14px;
            }

            @media #{$md-layout} {
                overflow-y: auto;
                height: 300px;
                margin-top: 18px;
                top: 100%;
                margin-top: 14px;
            }

            @media #{$lg-layout} {
                overflow-y: auto;
                height: 400px;
            }

            ul {
                li {
                    border-bottom: 1px solid #ebebeb;
                    display: flex;
                    flex-wrap: nowrap;
                    margin-bottom: 20px;
                    padding-bottom: 15px;

                    .shopping-cart-img {
                        flex: 0 0 82px;
                        margin-right: 15px;
                    }

                    .shopping-cart-title {
                        h4 {
                            font-size: 15px;
                            line-height: 16px;
                            margin: 0;

                            a {
                                color: #000;

                                &:hover {
                                    color: $theme-color;
                                }
                            }
                        }

                        h6 {
                            font-size: 13px;
                            margin: 5px 0 8px;
                        }

                        span {
                            font-size: 14px;
                        }
                    }

                    .shopping-cart-delete {
                        display: flex;
                        flex-grow: 100;
                        justify-content: flex-end;

                        a {
                            font-size: 16px;
                            color: $theme-color;

                            &:hover {
                                color: #333;
                            }
                        }
                    }
                }
            }

            .shopping-cart-total {
                h4 {
                    font-size: 14px;
                    margin-bottom: 17px;

                    span {
                        float: right;
                    }
                }
            }

            .shopping-cart-btn {
                margin-top: 23px;

                a {
                    margin-bottom: 20px;
                    padding: 16px 40px 17px;
                    font-weight: 500;
                    font-size: 14px;
                    display: block;
                }
            }
        }
    }

    &.header-right-wrap-white {
        margin-top: 40px;

        .same-style {
            > a {
                color: #fff;
            }

            &.cart-wrap {
                > button {
                    color: #fff;

                    span {
                        &.count-style {
                            background-color: #fff;
                            color: #000;
                        }
                    }
                }
            }
        }

        @media #{$md-layout} {
            margin-top: 0px;
        }

        @media #{$xs-layout} {
            margin-top: 3px;
        }
    }

    .same-style.header-search {
        .search-content {
            background: #ffffff none repeat scroll 0 0;
            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
            min-width: 300px;
            padding: 15px;
            position: absolute;
            right: 0;
            top: 193%;
            z-index: 99;
            display: none;

            @media #{$md-layout} {
                top: 154%;
            }

            @media #{$xs-layout} {
                right: -105px;
                top: 154%;
                min-width: 260px;
            }

            form {
                position: relative;

                input {
                    border: 1px solid #d3d3d3;
                    outline: medium none;
                    padding: 5px 72px 5px 15px;
                    transition: all 0.4s ease 0s;
                    width: 100%;
                    color: #000;
                    background: transparent;
                }

                .button-search {
                    background: $theme-color;
                    border-color: #ce9634;
                    color: #ffffff;
                    position: absolute;
                    right: 0;
                    text-transform: uppercase;
                    top: 0;
                    border: none;
                    height: 100%;
                    padding: 5px 20px 2px;
                    font-size: 20px;
                    line-height: 1;
                    transition: all 0.4s ease 0s;

                    &:hover {
                        background-color: #000;
                    }
                }
            }
        }
    }
}
.stick {
    .same-style {
       &.header-search {
            .search-content {
                top: 160%;
            }
        } 
    }
}
.stick .header-right-wrap.header-right-wrap-white {
    margin-top: 22px;
    @media #{$md-layout}{
        margin-top: 0px;
    }
    @media #{$xs-layout}{
        margin-top: 0px;
    }
    .same-style {
        > a {
            color: #000;
            &:hover {
                color: $theme-color;
            }
        }
        &.cart-wrap {
            > button {
                color: #000;
                &:hover {
                    color: $theme-color;
                }
                span{
                    &.count-style {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}


/* header 3 */

.header-padding-2 .container-fluid {
	padding: 0 70px;
    @media #{$xl-layout}{
		padding: 0 15px;
	}
    @media #{$lg-layout}{
		padding: 0 30px;
	}
    @media #{$md-layout}{
		padding: 0 40px;
	}
    @media #{$xs-layout}{
		padding: 0 15px;
	}
}

.header-top-area {
    border-bottom: 1px solid #d5d4d4;
    .header-top-wap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$xs-layout}{
            display: block;
            padding-bottom: 15px;
            margin-top: 8px;
        }
        @media #{$sm-layout}{
            display: flex;
            margin-bottom: 0px;
            margin-top: 0px;
        }
    }
    &.border-none {
        border: none;
    }
}
.header-offer {
    p{
        color: #555252;
        letter-spacing: .8px;
        margin: 0;
        span {
            color: #ff1c1c;
        }
        @media #{$xs-layout}{
            text-align: center;
        }
        @media #{$sm-layout}{
            text-align: right;
        }
    }
    &.header-offer-white {
        p {
            color: #fff;
            span {
                color: #000000;
            }
        }
    }
}
.language-currency-wrap {
    display: flex;
    align-items: center;
    @media #{$xs-layout}{
        justify-content: center;
    }
    .same-language-currency {
        position: relative;
        margin-right: 54px;
        @media #{$xs-layout}{
            margin-right: 15px;
        }
        &:before {
            position: absolute;
            content: "";
            height: 15px;
            width: 1px;
            background-color: #d5d4d4;
            right: -27px;
            top: 47%;
            transform: translateY(-50%);
            @media #{$xs-layout}{
                right: -10px;
            }
        }
        &:last-child:before {
            display: none;
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            letter-spacing: .8px;
            color: #555252;
            line-height: 54px;
            display: inline-block;
            margin-top: -3px;
            @media #{$xs-layout}{
                line-height: 35px;
            }
            @media #{$sm-layout}{
                line-height: 54px;
            }
            i{
                font-size: 16px;
                color: #555252;
                position: relative;
                top: 2px;
            }
        }
        .lang-car-dropdown {
            background: #fff none repeat scroll 0 0;
            box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
            left: 0;
            padding: 8px 12px 10px;
            position: absolute;
            text-align: left;
            top: 100%;
            width: 125px;
            z-index: 220;
            display: none;
            ul {
                li{
                    a{
                        line-height: 27px;
                        font-size: 13px;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
        p{
            letter-spacing: .8px;
            color: #555252;
            line-height: 1;
            margin-top: -1px;
        }
        &:hover > a {
            color: $theme-color;
        }
        &.same-lc-white {
            a {
                color: #fff;
                i{
                    color: #fff;
                }
            }
            .lang-car-dropdown {
                ul {
                    li{
                        a{
                            color: #555252;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            p{
                color: #fff;
            }
        }
    }
}

/* home 4 */

.home-sidebar-left {
	height: 100%;
	position: fixed;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 375px;
	z-index: 7;
	padding: 72px 0 40px 0px;
    @media #{$xx-layout}{
        width: 300px;
        padding:50px 0 30px 0px;
    }
    @media #{$xl-layout}{
        width: 300px;
        padding:50px 0 30px 0px;
    }
    @media #{$xl-layout}{
        width: 280px;
    }
    @media #{$lg-layout}{
        width: 250px;
    }
    @media #{$md-layout}{
        display: none;
    }
    @media #{$xs-layout}{
        display: none;
    }
    .logo {
        margin-top: 0;
        padding: 0px 0 0px 108px;
        @media #{$xx-layout}{
            padding: 0px 0 0px 50px;
        }
        @media #{$xl-layout}{
            padding: 0px 0 0px 30px;
        }
        @media #{$lg-layout}{
            padding: 0px 0 0px 15px;
        }
        @media #{$md-layout}{
            padding: 0px 0 0px 30px;
        }
    }
    .header-right-wrap {
        justify-content: flex-start;
        margin-top: 46px;
        margin-bottom: 67px;
        padding: 0px 0 0px 108px;
        @media #{$xx-layout}{
            padding: 0px 0 0px 50px;
            margin-top: 26px;
            margin-bottom: 27px;
        }
        @media #{$xl-layout}{
            padding: 0px 0 0px 30px;
            margin-top: 26px;
            margin-bottom: 27px;
        }
        @media #{$lg-layout}{
            padding: 0px 0 0px 15px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @media #{$md-layout}{
            padding: 0px 0 0px 30px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        & .same-style.cart-wrap {
            .shopping-cart-content {
                right: auto;
                left: 0;
                @media #{$xx-layout}{
                    overflow-y: auto;
                    height: 400px;
                }
                @media #{$xl-layout}{
                    overflow-y: auto;
                    height: 300px;
                }
            }
        }
        & .same-style.header-search {
            .search-content {
                left: 0;
                right: auto;
            }
        }
    }
    .sidebar-copyright {
        padding: 120px 63px 50px 63px;
        @media #{$xx-layout}{
            padding: 40px 63px 50px 63px;
        }
        @media #{$xl-layout}{
            padding: 40px 63px 50px 63px;
        }
        @media #{$lg-layout}{
          padding: 40px 15px 50px 15px;  
        }
        @media #{$md-layout}{
          padding: 50px 15px 50px 30px;  
        }
        p{
            letter-spacing: .9px;
            color: #313131;
            margin: 0;
            text-align: center;
        }
    }
}

.home-sidebar-right {
	border-left: 1px solid #efefef;
	margin-left: 375px;
    @media #{$xx-layout}{
        margin-left: 300px;
    }
    @media #{$xl-layout}{
        margin-left: 280px;
    }
    @media #{$lg-layout}{
        margin-left: 250px;
    }
    @media #{$md-layout}{
        margin-left: 0px;
    }
    @media #{$xs-layout}{
        margin-left: 0px;
    }
}



.sidebar-menu {
    padding: 0px 0 0px 108px;
    @media #{$xx-layout}{
        padding: 0px 0 0px 50px;
    }
    @media #{$xl-layout}{
        padding: 0px 0 0px 30px;
    }
    @media #{$lg-layout}{
        padding: 0px 0 0px 15px;
    }
    @media #{$md-layout}{
        padding: 0px 0 0px 30px;
    }
    nav{
        ul {
            li{
                padding-bottom: 33px;
                position: relative;
                @media #{$xx-layout}{
                    padding-bottom: 20px;
                }
                @media #{$xl-layout}{
                    padding-bottom: 15px;
                }
                @media #{$lg-layout}{
                    padding-bottom: 10px;
                }
                @media #{$md-layout}{
                    padding-bottom: 12px;
                }
                &:last-child {
                    padding-bottom: 0;
                }
                ul.submenu {
                    background: #fff none repeat scroll 0 0;
                    box-shadow: 0 0 7px 0.5px rgba(0, 0, 0, 0.15);
                    display: block;
                    left: 100%;
                    padding: 20px 0px 22px;
                    position: absolute;
                    top: 0;
                    transform: rotateX(90deg);
                    transform-origin: center top 0;
                    transition: all 0.5s ease 0s;
                    visibility: hidden;
                    width: 190px;
                    z-index: 999;
                    @media #{$lg-layout} {
                        overflow-y: auto;
                        max-height: 250px;
                    }
                    li {
                        display: block;
                        padding: 0 20px;
                        margin-left: 0px;
                        a {
                            color: #333;
                            display: block;
                            font-size: 13px;
                            font-weight: 400;
                            line-height: 32px;
                            text-align: left;
                            text-transform: capitalize;
                            padding-top: 0px;
                            &:hover {
                                color: $theme-color;
                            }
                            &::before {
                                background: $theme-color none repeat scroll 0 0;
                                border-radius: 50%;
                                content: "";
                                height: 7px;
                                left: 15px;
                                opacity: 0;
                                position: absolute;
                                top: 13px;
                                transition: all 0.3s ease-in-out 0s;
                                width: 7px;
                                z-index: 999;
                            }
                        }
                        &:hover a::before {
                            opacity: 1;
                        }
                        &:hover a {
                            padding-left: 12px;
                        }
                    }
                }
                &:hover > ul.submenu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                ul.mega-menu {
                    background-color: #fff;
                    display: block;
                    left: 100%;
                    padding: 40px 40px 0px 40px;
                    position: absolute;
                    text-align: left;
                    top: 0;
                    transform: rotateX(90deg);
                    transform-origin: center top 0;
                    transition: all 0.5s ease 0s;
                    visibility: hidden;
                    width: 750px;
                    z-index: 999;
                    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
                    @media #{$xx-layout}{
                        top: -50px;
                    }
                    @media #{$xl-layout}{
                        top: -50px;
                    }
                    @media #{$lg-layout}{
                        top: -80px;
                        width: 720px;
                    }
                    > li {
                        display: inline-block;
                        float: left;
                        margin-left: 0;
                        padding: 0;
                        width: 33.33%;
                        ul {
                            li.mega-menu-title {
                                float: inherit;
                                width: 100%;
                                a {
                                    color: #242424;
                                    margin: 0 0 10px;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    font-weight: 500;
                                    &::before {
                                        display: none
                                    }
                                }
                                &:hover a {
                                    padding-left: 0px;
                                }
                            }
                            li {
                                display: block;
                                float: inherit;
                                padding: 0px;
                                a {
                                    color: #333;
                                    display: block;
                                    font-size: 13px;
                                    font-weight: 400;
                                    line-height: 32px;
                                    text-align: left;
                                    text-transform: capitalize;
                                    padding-top: 0px;
                                    &:hover {
                                        color: $theme-color;
                                    }
                                    &::before {
                                        background: $theme-color none repeat scroll 0 0;
                                        border-radius: 50%;
                                        content: "";
                                        height: 7px;
                                        left: 0px;
                                        opacity: 0;
                                        position: absolute;
                                        top: 13px;
                                        transition: all 0.3s ease-in-out 0s;
                                        width: 7px;
                                        z-index: 999;
                                    }
                                }
                                &.mega-menu-img {
                                    &:hover a {
                                        padding-left: 0px;
                                    }
                                    a{
                                       &::before {
                                            display: none;
                                        } 
                                    }
                                }
                                &:hover a::before {
                                    opacity: 1;
                                }
                                &:hover a {
                                    padding-left: 12px;
                                }
                            }
                        }
                    }
                    &.mega-menu-padding {
                        padding: 40px 40px 36px 40px;
                    }
                }
                &:hover > ul.mega-menu {
                    transform: rotateX(0deg);
                    visibility: visible;
                }
                a{
                    color: #000000;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: .8px;
                    text-transform: capitalize;
                    display: block;
                    @media #{$xl-layout}{
                        font-size: 16px;
                    }
                    @media #{$lg-layout}{
                        font-size: 16px;
                    }
                    @media #{$md-layout}{
                        font-size: 16px;
                    }
                    span {
                        float: right;
                        padding-right: 20px;
                    }
                }
                &:hover a{
                    color: $theme-color;
                }
            }
        }
    }
}


.header-hm4-none {
    display: none;
    @media #{$xs-layout}{
        display: block;
    }
    @media #{$md-layout}{
        display: block;
    }
}


/* home 5 */

.wrapper {
    margin: 20px 20px;
    @media #{$xs-layout}{
        margin: 0px 0px;
    }
}

.transparent-bar {
	left: 0;
    right: 0;
    top: 0;
	position: absolute;
	width: 100%;
	z-index: 999;
}

.header-padding-3 .container-fluid {
	padding: 0 80px;
    @media #{$xl-layout}{
		padding: 0 40px;
	}
    @media #{$lg-layout}{
		padding: 0 40px;
	}
    @media #{$md-layout}{
		padding: 0 40px;
	}
    @media #{$xs-layout}{
		padding: 0 15px;
	}
}



/* home 7 */

.clickable-menu {
    margin-top: 35px;
    a {
        color: #fff;
        font-size: 30px;
        line-height: 1;
        display: inline-block;
        &:hover {
            color: $theme-color;
        }
    }
    @media #{$md-layout}{
		margin-top: -3px;
	}
    @media #{$xs-layout}{
		margin-top: -3px;
	}
}
.clickable-mainmenu {
	background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
	color: #353535;
	height: 100vh;
    overflow-y: auto;
	padding: 130px 35px 40px;
	position: fixed;
	left: 0;
	top: 0;
	transform: translateX(-110%);
	transition: transform 0.5s ease-in-out 0s;
	width: 300px;
	z-index: 9999;
    &.inside {
        transform: translateX(0px);
	    z-index: 9999;
    }
    @media #{$xs-layout}{
		padding: 100px 35px 40px;
	}
    .clickable-mainmenu-icon {
        button {
            background: transparent none repeat scroll 0 0;
            border: medium none;
            color: #000;
            cursor: pointer;
            font-size: 50px;
            padding: 0;
            position: absolute;
            left: 20px;
            top: 20px;
            transition: all 0.3s ease 0s;
            &:hover {
                color: $theme-color;
            }
        }
    }
    .side-logo {
        margin-bottom: 50px;
        @media #{$xs-layout}{
            margin-bottom: 40px;
        }
    }
    .clickable-menu-style {
        background: transparent;
        ul {
            li {
                a {
                    color: #000;
                    font-size: 16px;
                    text-transform: capitalize;
                    padding: 0 0 20px;
                    &:hover {
                        background: transparent;
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .side-social {
        margin-top: 50px;
        ul {
            li {
                display: inline-block;
                margin: 0 30px 0 0;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }
                &:before {
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    background: #999;
                    height: 1px;
                    width: 10px;
                    content: "";
                    transform: translateY(-50%);
                }
                &:last-child:before {
                    display: none;
                }
                a{
                    font-size: 18px;
                    &.facebook {
                        color: #3b5999;
                        &:hover {
                            color: #333;
                        }
                    }
                    &.dribbble {
                        color: #ea4c89;
                        &:hover {
                            color: #333;
                        }
                    }
                    &.pinterest {
                        color: #bd081c;
                        &:hover {
                            color: #333;
                        }
                    }
                    &.twitter {
                        color: #55acee;
                        &:hover {
                            color: #333;
                        }
                    }
                    &.linkedin {
                        color: #0077B5;
                        &:hover {
                            color: #333;
                        }
                    }
                }
            }
        }
    }
}



.header-hm-7.stick {
    .clickable-menu {
        margin-top: 19px;
        a {
            color: #282828;
            &:hover {
                color: $theme-color;
            }
        }
        @media #{$md-layout}{
            margin-top: 0px;
        }
        @media #{$xs-layout}{
            margin-top: 0px;
        }
    }
    .logo {
        margin-top: 22px;
        margin-bottom: 18px;
        @media #{$md-layout}{
            margin-top: 2px;
            margin-bottom: 0px;
        }
        @media #{$xs-layout}{
            margin-top: 2px;
            margin-bottom: 0px;
        }
    }
    .header-right-wrap {
        margin-top: 22px;
        margin-bottom: 18px;
        @media #{$md-layout}{
            margin-top: 2px;
            margin-bottom: 0px;
        }
        @media #{$xs-layout}{
            margin-top: 2px;
            margin-bottom: 0px;
        }
    }
}

.header-hm-7 {
    .header-right-wrap {
        @media #{$md-layout}{
            margin-right: 0;
        }
        @media #{$xs-layout}{
            margin-right: 0;
        }
        .same-style{
            &.cart-wrap {
                .shopping-cart-content {
                    @media #{$xs-layout}{
                        right: 0px;
                    }
                }
            }
            &.header-search {
                .search-content {
                    @media #{$xs-layout}{
                        right: -80px;
                    }
                }
            }
        }
    }
}


/* home 8 */

.header-hm8 {
    .header-right-wrap {
        margin-top: 6px;
        @media #{$md-layout}{
            margin-right: 0;
        }
        @media #{$xs-layout}{
            margin-right: 0;
            justify-content: center;
        }
        .same-style{
            &.cart-wrap {
                .shopping-cart-content {
                    top: 125%;
                    margin-top: 0;
                    @media #{$xs-layout}{
                        right: -99px;
                    }
                }
            }
            & .account-dropdown {
                top: 125%;
                margin-top: 0;
                left: -32px;
            }
        }
        .same-style.header-search {
            .search-content {
                top: 125%;
                @media #{$xs-layout}{
                    right: -150px; 
                }
                @media #{$sm-layout}{
                    right: 0px; 
                }
            } 
        }
    }
    @media #{$md-layout}{
        .header-res-padding {
            padding: 20px 0 20px;
        }
        .mean-container a.meanmenu-reveal {
            top: -26px;
        }
    }
    @media #{$xs-layout}{
        .header-res-padding {
            padding: 20px 0 20px;
        }
        .mean-container a.meanmenu-reveal {
            top: -26px;
        }
    }
}
.header-hm8 {
    .stick {
        .logo {
            display: none;
            @media #{$md-layout}{
                display: block;
            }
            @media #{$xs-layout}{
                display: block;
            }
        }
    }
    .logo {
        @media #{$md-layout}{
            text-align: left!important;
        }
        @media #{$xs-layout}{
            text-align: left!important;
        }
    }
    
}

.header-hm8 {
    .main-menu {
        padding-bottom: 8px;
        nav {
            ul {
                li {
                    > a {
                       line-height: 60px; 
                    }
                }
            }
        }
    }
}

/* home 9 */



.header-hm9 {
    .main-menu {
        nav {
            ul {
                li {
                    a {
                        line-height: 72px;
                    }
                }
            }
        }
    } 
    .header-top-area {
        padding: 22px 0;
        border-bottom: 1px solid #cecece;
        &.header-top-border17 {
            border-bottom: 1px solid #9f9f9f;
        }
    }
    .header-right-wrap {
        margin-top: 13px;
        @media #{$md-layout}{
            margin-right: 0;
        }
        @media #{$xs-layout}{
            margin-right: 0;
            justify-content: center;
        }
        @media #{$xs-layout}{
            .same-style.cart-wrap {
                .shopping-cart-content {
                    right: -97px;
                }
            }
        }
    }
    .logo-hm9 {
        margin-top: 12px;
    }
    @media #{$md-layout}{
        .mean-container {
            a.meanmenu-reveal {
                top: -26px;
            }
        }
        .header-res-padding {
            padding: 20px 0 20px;
        }
    }
    @media #{$xs-layout}{
        .mean-container {
            a.meanmenu-reveal {
                top: -26px;
            }
        }
        .header-res-padding {
            padding: 20px 0 20px;
        }
    }
}

.mean-container {
    a {
        &.meanmenu-reveal {
            color: #333;
            border: 1px solid #333;
            width: 18px;
            height: 18px;
            line-height: 18px;
            padding: 3px 5px 2px;
            overflow: hidden;
            transition: all .0s ease 0s;
            span {
                background: #333;
                position: relative;
                transition: all .3s ease 0s;
                display: block;
                height: 2px;
                margin-top: 7px;
                &:before , &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #333;
                    transition: all .3s ease 0s;
                    z-index: 9;
                }
                &:before {
                    top: -5px;
                }
                &:after {
                    bottom: -5px;
                }
            }
        }
    }
}

.mean-container {
    .mean-bar {
        padding: 0;
        min-height: 0;
        background: transparent;
        z-index: 99;
    }
    .mean-nav {
        margin-top: 0px;
        background: transparent;
        ul {
            li {
                border-top: 1px solid#ddd;
                background: #f8f8f8 none repeat scroll 0 0;
                a {
                    padding: 10px 5%;
                    color: #333;
                    border: none;
                    font-size: 13px;
                    font-weight: 500;
                }
                ul {
                    li {
                        a {
                            text-transform: capitalize;
                            background: #f8f8f8 none repeat scroll 0 0;
                        }
                    }
                }
                &:hover {
                    > a {
                        color: $theme-color;
                        &.mean-expand {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
.white-mobile-menu {
    .mean-container {
        a {
            &.meanmenu-reveal {
                span {
                    &:before , &:after {
                        background: #fff;
                    }
                }
            }
        }
    }
}
.stick {
    .white-mobile-menu {
        .mean-container {
            a {
                &.meanmenu-reveal {
                    span {
                        &:before , &:after {
                            background: #333;
                        }
                    }
                }
            }
        }
    }
}







/* header hm10 */

@media #{$sm-layout}{
    .header-in-container {
        .header-top-wap {
            display: block;
            margin-bottom: 15px;
            margin-top: 8px;
            .language-currency-wrap {
                justify-content: center;
            }
            .header-offer {
                p{
                    text-align: center;
                }
            }
        }
    }
}


@media #{$xs-layout}{
    .header-hm9 {
        .header-right-wrap {
            .same-style{
                &.header-search {
                   .search-content {
                        right: -142px;
                    } 
                } 
            }
        }
    }
}




























