﻿.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .login-form-container {
        width: 400px;
        height: 400px;

        .logo-container {
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
        }
        #Password{
            margin-top: 20px;
        }
        button {
            margin-top: 15px;
            min-width: 100px;
            font-size: 16px;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 4px;
            height: 35px;

            &:hover {
                background-color: #a749ff;
                color: white;
                border-color: #a749ff;
            }
        }
    }
}
