﻿.dropdown-portal, .dropdown-portal:hover {
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  /* Scrollbar */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .dropdown-portal .media, .dropdown-portal:hover .media {
    margin-top: 5px !important;
    align-items: center; }
    .dropdown-portal .media .media-left, .dropdown-portal:hover .media .media-left {
      height: 57px;
      min-width: 67px; }
    .dropdown-portal .media .media-body p, .dropdown-portal:hover .media .media-body p {
      text-align: left;
      margin-bottom: 5px; }
  .dropdown-portal ::-webkit-scrollbar, .dropdown-portal:hover ::-webkit-scrollbar {
    width: 5px; }
  .dropdown-portal ::-webkit-scrollbar-track, .dropdown-portal:hover ::-webkit-scrollbar-track {
    background: rgba(162, 161, 166, 0.5); }
  .dropdown-portal ::-webkit-scrollbar-thumb, .dropdown-portal:hover ::-webkit-scrollbar-thumb {
    background: rgba(81, 80, 84, 0.5); }
  .dropdown-portal ::-webkit-scrollbar-thumb:hover, .dropdown-portal:hover ::-webkit-scrollbar-thumb:hover {
    background: rgba(30, 28, 28, 0.5); }
  .dropdown-portal button.dropdown-toggle, .dropdown-portal:hover button.dropdown-toggle {
    background-color: #fff;
    width: 100%; }
  .dropdown-portal ul.dropdown-menu, .dropdown-portal:hover ul.dropdown-menu {
    height: auto;
    background-color: #fff;
    margin-top: 0;
    padding: 5px 0;
    max-height: 345px;
    overflow: auto;
    cursor: pointer;
    width: 100%;
    overflow-x: hidden; }
    .dropdown-portal ul.dropdown-menu .media, .dropdown-portal:hover ul.dropdown-menu .media {
      margin-top: 0px !important;
      padding: 5px; }
      .dropdown-portal ul.dropdown-menu .media .media-left, .dropdown-portal:hover ul.dropdown-menu .media .media-left {
        padding-right: 0;
        min-width: 67px;
        height: 57px; }
    .dropdown-portal ul.dropdown-menu li, .dropdown-portal:hover ul.dropdown-menu li {
      border-bottom: 1px solid #F6F6F6;
      /*border-right: 1px solid $pimp-grey-border-light !important;*/
      border-right: 0;
      padding: 0px;
      /*width: 33%;*/
      /*float: left;*/ }
      .dropdown-portal ul.dropdown-menu li a, .dropdown-portal:hover ul.dropdown-menu li a {
        padding: 0; }
    .dropdown-portal ul.dropdown-menu li:nth-child(3n), .dropdown-portal:hover ul.dropdown-menu li:nth-child(3n) {
      /*border-right: none !important;*/ }
    .dropdown-portal ul.dropdown-menu li:hover, .dropdown-portal:hover ul.dropdown-menu li:hover {
      background: #F6F6F6; }
      .dropdown-portal ul.dropdown-menu li:hover a, .dropdown-portal:hover ul.dropdown-menu li:hover a {
        background: #F6F6F6; }
    .dropdown-portal ul.dropdown-menu li:last-child, .dropdown-portal:hover ul.dropdown-menu li:last-child {
      /*border-bottom: none;*/ }

.dropdown-pimportal::after {
  font-family: FontAwesome;
  content: "\f078";
  position: absolute;
  right: 10px;
  top: 26px; }

.dropdown-pimportal.open::after {
  content: "\f077"; }
