﻿.dropdown-portal, .dropdown-portal:hover {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;

    .media {
        margin-top: 5px !important;
        align-items: center;

        .media-left {
            height: 57px;
            min-width: 67px;
        }

        .media-body {

            p {
                text-align: left;
                margin-bottom: 5px;
            }
        }
    }
    /* Scrollbar */
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        background: rgba(#A2A1A6,0.5);
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(#515054,0.5);
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(#1E1C1C,0.5);
    }

    button.dropdown-toggle {
        background-color: #fff;
        width: 100%;
    }

    ul.dropdown-menu {
        height: auto;
        background-color: #fff;
        margin-top: 0;
        padding: 5px 0;
        max-height: 345px;
        overflow: auto;
        cursor: pointer;
        width: 100%;
        overflow-x: hidden;

        .media {
            margin-top: 0px !important;
            padding: 5px;

            .media-left {
                padding-right: 0;
                min-width: 67px;
                height: 57px;
            }

            .media-body {
            }
        }

        li {
            border-bottom: 1px solid #F6F6F6;
            /*border-right: 1px solid $pimp-grey-border-light !important;*/
            border-right: 0;
            padding: 0px;
            /*width: 33%;*/
            /*float: left;*/
            a {
                padding: 0;
            }
        }

        li:nth-child(3n) {
            /*border-right: none !important;*/
        }


        li:hover {
            background: #F6F6F6;

            a {
                background: #F6F6F6;
            }
        }

        li:last-child {
            /*border-bottom: none;*/
        }
    }
}

.dropdown-pimportal::after {
	font-family: FontAwesome;
	content: "\f078";
	position: absolute;
	right: 10px;
	top: 26px;
}

.dropdown-pimportal.open::after {
	content: "\f077";
}
