﻿@model Struct.PIM.ProductViewer.Entity.HydratedCart
@using Struct.PIM.ProductViewer.Website.Helpers
@using Umbraco.Web.Models
@{
    Layout = null;
}
<div id="cartdetails" class="cart-main-area pt-30 pb-100">
    <div class="container">
        <div class="row">
            @if (Model.Products.Any())
            {
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="cart-shiping-update-wrapper pt-0 pb-3">
                        <div class="cart-shiping-update">
                            <h3 class="cart-page-title">Your cart items</h3>
                        </div>
                        <div class="cart-clear">
                            <a onclick="pimproductviewer.cart.clearCart()">Clear Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 table-content table-responsive cart-table-content">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product Name</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in Model.Products)
                            {
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="@product.Url"><img src="@MediaHelper.GetCropUrl(product.ImageUrl, 100, 100, ImageCropMode.Pad)" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="@product.Url">@product.Name</a></td>
                                    <td class="product-remove">
                                        <a onclick="pimproductviewer.cart.removeFromCart(@product.ProductId)"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div>Your cart is empty. Add products to your cart to download catalogues with those products</div>
                </div>
            }
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="cart-tax">
                    <div class="title-wrap">
                        <h4 class="cart-bottom-title section-bg-gray">Download cart products</h4>
                    </div>
                    <div class="tax-wrapper">
                        <small>Select a template and file name for the download</small>
                        <form action="/downloadcart" method="post">
                            <div class="tax-select-wrapper">
                                <div class="tax-select">
                                    <label>
                                        Template <span class="text-danger">*</span>
                                    </label>
                                    <select name="template" id="template" class="s-wid" @if (!Model.Products.Any()) { <text>disabled="disabled"</text> }>
                                        <option value="xmldata">XML data</option>
                                    </select>
                                </div>
                                <div class="tax-select">
                                    <label>
                                        File name <span class="text-danger">*</span>
                                    </label>
                                    <input name="filename" required id="filename" type="text" @if (!Model.Products.Any()) { <text>disabled="disabled"</text> }>
                                </div>
                                <div class="text-right">
                                    <button class="cart-btn-2" type="submit" @if (!Model.Products.Any()) { <text>disabled="disabled"</text> }>Download</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>