﻿@model Struct.PIM.ProductViewer.Entity.HydratedCart
@using Struct.PIM.ProductViewer.Website.Helpers
@using Umbraco.Web.Models
@{
    Layout = null;
}
<div id="quickcart">
    <div class="same-style cart-wrap">
        <button class="icon-cart">
            <i class="pe-7s-shopbag"></i>
            <span class="count-style">@Model.Products.Count</span>
        </button>
        <div class="shopping-cart-content">
            <div class="shopping-cart-content-products">
                @if (Model.Products.Any())
                {
                    <ul>
                        @foreach (var product in Model.Products)
                        {
                            <li class="single-shopping-cart">
                                <div class="shopping-cart-img">
                                    <a href="@product.Url"><img alt="" src="@MediaHelper.GetCropUrl(product.ImageUrl, 82, 82, ImageCropMode.Pad)"></a>
                                </div>
                                <div class="shopping-cart-title">
                                    <h4><a href="@product.Url">@product.Name</a></h4>
                                </div>
                                <div class="shopping-cart-delete">
                                    <a onclick="pimproductviewer.cart.removeFromCart(@product.ProductId)"><i class="fa fa-times-circle"></i></a>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <span>No products have been added to your cart</span>
                }
            </div>
            @if (Model.Products.Any())
            {
                <div style="padding:0px 35px 10px;">
                    <div class="shopping-cart-btn btn-hover text-center">
                        <a class="default-btn" href="/cart">view cart</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>