﻿@model  Umbraco.Web.Models.ContentModel

@{ Layout = "~/Views/Master.cshtml"; }


<div class="breadcrumb-area pt-35 pb-35 bg-gray-3">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="~/products">Shop</a>
                </li>
                <li class="active">
                    Cart
                </li>
            </ul>
        </div>
    </div>
</div>
@Html.Action("_CartDetails", "cart")